body .wrapper.fixed__footer .btn-group.show {
	display: inline-block !important;
}

#top {
	border-bottom: 1px solid #ededed;
}

#top button.btn.dropdown-toggle:hover {
	color: #40b545;
	background: none;
}

#top .dropdown-menu, #top .dropdown-menu a {
	color: #555555;
	padding: 6px;
	font-weight: normal;
	border-bottom: 1px solid #eeeeee;
	border-radius: 3px;
	font-size: 14px;
}

#top a.dropdown-item:hover {
	color: #40b545;
	background: none;
}

button.btn.dropdown-toggle {
	font-size: 14px;
}

body a {
	font-size: 14px;
	margin: 5px;
	color: #777;
}

.social a {
	font-size: 18px;
	color: #777;
	display: inline-block;
	width: 22px;
	text-align: center;
}

body a:hover {
	color: #40b545;
	background: none;
}

div#logo {
	padding: 38px 0;
	position: relative;
	z-index: 1;
	display: inline-block;
	vertical-align: top;
	float: left;
	max-width: 108px;
}

form.form-inline.search {
	width: 325px;
	text-align: center;
	margin: auto;
	position: relative;
}

form.form-inline.search a {
	width: 45px;
	border-radius: 0px 16px 16px 0;
	background: #bdbdbd;
	padding: 7px;
	position: absolute;
	right: 2px;
	z-index: 1000;
	background: #40a944;
	color: #fff;
	top: -5px;
}

nav.search-form {
	margin: 32px auto;
}

form.form-inline.search input {
	width: 325px;
	border-radius: 16px;
	padding-left: 28px;
}

.register-or-login {
	margin: 39px 0px;
}

.right-bar {
	margin: 28px 0;
	display: inline-block;
}

.right-bar a {
	font-size: 24px;
	margin-right: 20px;
	text-align: right;
	display: inline-block;
	color: #777;
	position: relative;
}

.right-bar a .txt-count {
	width: 20px;
	height: 20px;
	line-height: 18px;
	font-size: 14px;
	background: #e6e6e6;
	color: #222222;
	position: absolute;
	top: 2px;
	text-align: center;
	border-radius: 100%;
	-webkit-border-radius: 100%;
	font-family: var(- -heading-font);
	font-weight: 400;
	left: 20px;
	padding-top: 1px;
}

button.btn.dropdown-toggle.menu-bar-categoies {
	font-size: 16px;
	background: #40a944;
	color: #fff;
	font-weight: 600;
	border-radius: 12px 12px 0 0;
	padding: 9px 50px;
}

button.btn.dropdown-toggle.menu-bar-categoies i {
	margin-right: 14px;
}

button.btn.dropdown-toggle {
	padding: 6px 16px 6px 0;
}

.ul-top-items li {
	display: block;
	margin: 0;
	margin: 8px 25px 8px 0;
}

a.a-top-link {
	color: #222222;
	font-size: 16px;
	font-weight: 500;
}

.header-phone>a {
	-webkit-transition: ease .3s all;
	-moz-transition: ease .3s all;
	transition: ease .3s all;
}

.header-phone>a>span {
	display: inline-block;
	vertical-align: top;
	margin: 0px;
	font-weight: 400;
	font-family: var(- -heading-font);
	line-height: 1;
	font-size: 14px;
	text-align: left;
	line-height: 22px;
}

.header-phone a span>span {
	font-size: 15px;
	display: block;
	font-weight: 600;
	position: relative;
	top: 6px;
}

.header-phone>a i {
	font-size: 38px;
	margin: 2px 5px;
	color: #40a944;
}

.cattegories-items {
	
}

.cattegories-items>ul {
	display: block;
}

.cattegories-items>ul ul {
	display: none;
}

.cattegories-items>ul li {
	background: #FFFFFF;
	color: #222222;
	font-size: 14px;
	text-transform: capitalize;
	font-weight: 400;
	background: #FFFFFF;
	padding: 8px;
	color: #222222;
	font-size: 14px;
	text-transform: capitalize;
	font-weight: 400;
	width: 253px;
	position: relative;
}

.cattegories-items>ul>li ul {
	padding: 0.5rem 0;
	background-color: #fff;
	background-clip: padding-box;
	border-radius: 0.25rem;
	top: -8px;
	width: 253px;
	position: absolute;
	left: 254px;
}

li.category-item i {
	float: right;
}

.header-phone>a>span {
	font-size: 11px;
	position: relative;
	top: -3px;
}

li.li-top-item.left.active a {
	color: #40b545;
	background: none;
}

