*:focus {
	outline: none;
}

.btn:focus, .btn.focus {
	outline: 0;
	box-shadow: none;
}

html, body {
	height: 100%;
}

ul, ol {
	margin-top: 0;
	margin-bottom: 0;
}

.wrap {
	min-height: 100%;
	height: auto;
	margin: 0 auto -60px;
	padding: 0 0 60px;
}

.wrap>.container {
	padding: 70px 15px 20px;
}

.footer {
	height: 60px;
	background-color: #f5f5f5;
	border-top: 1px solid #ddd;
	padding-top: 20px;
}

.jumbotron {
	text-align: center;
	background-color: transparent;
}

.jumbotron .btn {
	font-size: 21px;
	padding: 14px 24px;
}

.not-set {
	color: #c55;
	font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
	position: relative;
	top: 1px;
	display: inline-block;
	font-family: 'Glyphicons Halflings';
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	padding-left: 5px;
}

a.asc:after {
	content: /*"\e113"*/ "\e151";
}

a.desc:after {
	content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
	content: "\e153";
}

.sort-numerical a.desc:after {
	content: "\e154";
}

.sort-ordinal a.asc:after {
	content: "\e155";
}

.sort-ordinal a.desc:after {
	content: "\e156";
}

.grid-view th {
	white-space: nowrap;
}

.hint-block {
	display: block;
	margin-top: 5px;
	color: #999;
}

.error-summary {
	color: #a94442;
	background: #fdf7f7;
	border-left: 3px solid #eed3d7;
	padding: 10px 20px;
	margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li>form>button.logout {
	padding: 15px;
	border: none;
}

@media ( max-width :767px) {
	.nav li>form>button.logout {
		display: block;
		text-align: left;
		width: 100%;
		padding: 10px 15px;
	}
}

.nav>li>form>button.logout:focus, .nav>li>form>button.logout:hover {
	text-decoration: none;
}

.nav>li>form>button.logout:focus {
	outline: none;
}

#accordion {
	padding-left: 0;
}

#accordion ul {
	list-style: none;
}

#accordion .badge {
	cursor: pointer;
}

div#accordion ul {
	padding-left: 0;
}

div#accordion li {
	border: 1px solid;
	width: 220px;
}

.carousel.slide .carousel-indicators {
	margin: auto;
}

.carousel-indicators .active {
	background-color: #fff;
}

.carousel-indicators .active {
	width: 30px;
	height: 3px;
	margin: 1px 3px;
}

.pro__thumb a img {
	width: 100%;
	max-width: 90px;
	margin: auto;
}

.product__price {
	display: inline-flex;
}

.product__inner {
	position: relative;
	height: 199px;
}

.product__inner {
	position: relative;
	height: 210px;
	width: 210px;
	/* border: 1px solid; */
	margin: auto;
	background: #efefef;
}

.product {
	margin-top: 10px;
	overflow: hidden;
}

.product.foo:hover .product__details.text-center {
	color: #ff4136;
}

/**/
.banner-static h2 {
	font-size: 14px;
	color: #4a4a4a;
	margin: 0;
	font-weight: 700;
}

.banner-static p {
	font-size: 13px;
	color: #777777;
	margin: 10px 0 0;
	line-height: 1.5;
}

.banner-static .banner-icon {
	width: 40px;
	float: left;
	margin-right: 10px;
	height: 80px;
	padding-top: 3px;
}

.banner-static .banner-content {
	margin-left: 50px;
	text-align: left;
}

.banner-static {
	margin: 55px 0;
	display: inline-block;
	width: 100%;
	position: relative;
}

.banner-icon i {
	font-size: 30px;
	color: #40a944;
	padding: 0px 0;
}

.block-title {
	position: relative;
	text-align: center;
}

.block-title p {
	font-size: 20px;
	color: #929292;
	margin: 0 0 2px;
}

.block-title h3 {
	font-size: 32px;
	display: block;
	margin: 0;
	color: #222222;
	letter-spacing: 0;
	font-weight: 500;
}

.product-thumb .product-item {
	position: relative;
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
}

.product-thumb .grid-style .product-item .image {
	position: relative;
	text-align: center;
	overflow: hidden;
	height: 210px;
	margin-bottom: 20px;
}

.product-item {
	max-width: 160px;
	margin: auto;
}

.product-thumb .product-item .image a {
	display: block;
	position: relative;
}

.product-thumb .grid-style .button-group {
	position: absolute;
	text-align: center;
	z-index: 3;
	right: 0;
	left: 0;
	bottom: 10px;
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
	opacity: 0;
}

.product-thumb .grid-style .product-item:hover .button-group {
	opacity: 1;
	bottom: 35px;
}

.product-thumb .button-group>.inner {
	background: #fff;
	padding: 4px 7px;
	border-radius: 30px;
	-webkit-box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.1);
	box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.1);
	display: inline-block;
	vertical-align: top;
}

.product-thumb  .button-group button {
	width: auto;
	border: none;
	display: inline-block;
	vertical-align: top;
	width: 33px;
	line-height: 1;
	height: 33px;
	padding: 0;
	background-color: #fff;
	color: #222222;
	font-size: 18px;
	font-weight: normal;
	border-radius: 100%;
	-webkit-border-radius: 100%;
	margin: 0px 4px;
	-webkit-transition: all 100ms ease-in-out;
	-moz-transition: all 100ms ease-in-out;
	-ms-transition: all 100ms ease-in-out;
	-o-transition: all 100ms ease-in-out;
	transition: all 100ms ease-in-out;
}

.product-thumb .product-item .image a img {
	margin: auto;
}

.product-thumb .product-item .caption h4 a {
	font-size: 16px;
	color: var(- -heading-color);
	font-weight: 700;
	text-transform: capitalize;
	font-family: var(- -main-font);
	line-height: 1;
	margin: 0;
}

.product-thumb .button-group button:hover {
	background: #40a944;
	color: #fff;
}

.price {
	color: var(- -heading-color);
	font-weight: 600;
	margin: 6px 0 0;
	font-size: 17px;
}

.col-order-inner .pt-filter {
	-webkit-box-ordinal-group: 2;
	-ms-flex-order: 2;
	-webkit-order: 2;
	order: 2;
}

.pt-filter {
	border-radius: 0;
	box-shadow: none;
	-webkit-box-shadow: none;
	margin-bottom: 3rem;
	border: 0;
	padding: 0;
}

.filter-attribute-container label {
	color: #222222;
	font-weight: 500;
	font-size: 26px;
	text-transform: capitalize;
	margin-top: 0;
	margin-bottom: 15px;
	display: block;
	font-family: var(- -heading-font);
	letter-spacing: 0;
	border-bottom: 1px solid #e7e7e7;
	padding-bottom: 10px;
}

.filter-attribute-container .list-group-item {
	border: 0;
	padding: 0;
	display: inline-block;
	vertical-align: top;
	width: 100%;
	border-radius: 0;
	-webkit-border-radius: 0;
}

.filter-attribute-container {
	clear: both;
	margin-bottom: 25px;
	position: relative;
}

.tabs-product .tabs-style .nav-tabs>li>a {
	margin: 0;
	background: transparent;
	border: 1px solid rgba(0, 0, 0, 0);
	border-radius: 2px;
	padding: 0 2px;
	font-size: 15px;
	text-transform: uppercase;
	position: relative;
	font-family: var(- -heading-font);
	font-weight: 500;
	line-height: 15px;
	letter-spacing: 0;
	height: 15px;
}

.tabs-product .tabs-style .nav-tabs>li {
	float: none;
	display: inline-block;
	vertical-align: top;
	padding: 0;
}

.block-title {
	position: relative;
	text-align: center;
}

ul.nav.nav-tabs {
	display: inline-block;
}

.tabs-style {
	margin-bottom: 20px;
}

.block-title>p {
	font-size: 17px;
	margin: 0 0 -3px;
	font-style: italic;
	font-weight: 100;
}

.block-title {
	position: relative;
	text-align: center;
	margin-top: 10px;
}

hr {
	margin-top: 20px;
	margin-bottom: 20px;
	border: 0;
	border-top: 1px solid #eee;
}

.tool-bar {
	background: #f6f6f6;
	margin-bottom: 30px;
	border: 0;
	padding: 10px;
	height: 33px;
}

button.btn.btn-default.btn-custom-view.btn-grid-1 {
	font-size: 22px;
	color: #777777;
}

.tool-bar .input-group .input-group-addon {
	height: 26px;
	padding-bottom: 0;
	padding-top: 0;
	font-size: 14px;
	color: #777777;
}

.tool-bar #input-sort, .tool-bar #input-limit {
	height: 26px;
	padding: 0 8px;
}

.tool-bar {
	background: #f6f6f6;
	margin-bottom: 30px;
	border: 0;
	padding: 5px;
	height: 50px;
}

.tool-bar .input-group .input-group-addon {
	height: 26px;
	padding-bottom: 0;
	padding-top: 0;
	font-size: 14px;
	color: #777777;
	margin: 7px;
}

.tool-bar #input-sort, .tool-bar #input-limit {
	height: 26px;
	padding: 0 8px;
	margin: 6px;
}

.tool-bar .form-group {
	margin-bottom: 0;
}

.tool-bar #input-sort, .tool-bar #input-limit {
	height: 26px;
	padding: 0 8px;
	margin: 6px;
	border-radius: 6px;
}

.tool-bar button.btn.btn-default.btn-custom-view.active {
	color: #40a944;
}

.tool-bar button.btn.btn-default.btn-custom-view:hover {
	color: #40a944;
}

.product-item {
	margin-bottom: 36px;
}

select#input-limit-products {
	height: 26px;
	padding: 0 8px;
	margin: 6px;
	border-radius: 6px;
}

ul.pagination li button, .page-item:last-child .page-link, li.page-item.prev.disabled button
	{
	background: #f6f6f6;
	border-radius: 20px;
	margin-right: 4px;
}

.page-item:first-child .page-link {
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
}

.page-item.active .page-link {
	z-index: 3;
	color: #fff;
	background-color: #40a944;
	border-color: #27ce2e;
}

.page-link {
	position: relative;
	display: block;
	padding: 0.5rem 0.75rem;
	margin-left: -1px;
	line-height: 1.25;
	color: #222222;
	background-color: #fff;
	border: 1px solid #dee2e6;
}

.pagination {
	display: -ms-flexbox;
	display: inline-flex;
	padding-left: 0;
	list-style: none;
	border-radius: 0.25rem;
	text-align: center;
	margin: auto;
}

.pagination-block {
	text-align: center;
	margin-bottom: 12px;
}

.product-info-details h1 {
	font-size: 21px;
	margin-top: 10px 0;
	font-weight: 400;
	letter-spacing: 0;
}

.rating i {
	font-size: 18px;
	color: #40a944;
}

.rating {
	margin: 16px 0;
}

.rating>div {
	display: inline-block;
	margin-right: 15px;
}

.product-info-details .price {
	font-size: 22px;
	margin: 20px 0;
}

.product-info-details .quantity-content {
	width: 121px;
	height: 50px;
	border-radius: 20px;
	padding: 0;
	display: inline-block;
	margin-right: 14px;
}

.product-info-details #product .form-group #input-quantity {
	width: 121px;
	height: 50px;
	border: 1px solid #dbdbdb;
	border-radius: 20px;
	padding: 5px 5px 5px 16px;
	font-size: 21px;
}

.product-info-details #button-cart {
	background: #40a944;
	border-color: #3b923e;
	border-radius: 20px;
	display: inline-block;
	width: 230px;
	height: 48px;
	margin-bottom: 7px;
}

button.btn.btn-default.btn-wishlist {
	background: #e9ecef;
	border-color: #777777;
	border-radius: 20px;
	display: inline-block;
	width: 54px;
	height: 48px;
	margin-bottom: 7px;
	margin-left: 14px;
	padding: 13px;
}

div#accordion>.btn-product-bottoms .btn-product-bottom {
	display: inline-block;
}

.product-img-block {
	padding: 10px;
}

.btn-product-bottoms {
	background: #f6f6f6;
	padding: 10px 0px;
	text-align: center;
}

button.btn.btn-link {
	color: #777777;
}

button.btn.btn-link:hover {
	color: #40a944;
}

button.btn.btn-link:hover {
	color: #40a944;
	text-decoration: none;
}

.product-item .caption {
	text-align: center;
}

.list-style {
	height: 270px;
	display: table;
}

.list-style .product-item {
	max-width: 100%;
	margin: inherit;
}

.list-style .caption {
	display: table-cell;
	vertical-align: top;
	height: 260px;
	padding: 15px;
	padding-top: 20px;
	margin-left: 10px;
	text-align: left;	
    min-width: 320px;    
    position: relative;
}

.product-thumb .list-style .product-item .image {
	position: relative;
	text-align: center;
	overflow: hidden;
	height: 280px;
	width: 260px;
	margin-bottom: 20px;
	display: table-cell;
	padding: 10px;
}

.product-thumb .list-style .button-group {
    display: block;
    margin: 16px 0;
    position: relative;
    bottom: 0;
}

.product-thumb .list-style .button-group>.inner{	
    border-radius: 0;
    -webkit-border-radius: 0;
    box-shadow: none;
    -webkit-box-shadow: none;
    padding: 0;
}

.product-thumb .list-style .button-group button.button-cart {
    width: auto;
    border-radius: 3rem;
    -webkit-border-radius: 3rem;
    padding: 5px 19px;
    background: #222;
    border-color: #222;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
}

.list-style p.product-description {
    margin-top: 17px;
    font-size: 13px;
    text-align: justify;
    line-height: 21px;
}