#page-topbar {
    top: 0;
    right: 0;
    left: 0;
    z-index: 999;
    box-shadow: 0 4px 8px rgba(0,0,0,.1);
    padding: 10px;
    height: 50px;
}


.topnav {
    background: #fff;
    padding: 0 calc(24px / 2);
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.075);
    box-shadow: 0 1px 2px rgba(0,0,0,0.075);
    height: 40px;
}

nav.navbar.navbar-light.navbar-expand-lg.topnav-menu ul li a {
    font-size: 18px;
    position: relative;
    padding: 14px 21px;
    color: #747a80;
    padding-left: 0;
}